p {
	color: green;
	text-align: center;
	opacity: .5; 
  }

/* This is a single-line comment */


body {
	background-color: blue;
 }

/*
 body {
	background-image: url("img_tree.png");
	background-repeat: no-repeat;
	background-position: right top; /*location of the image*/
  }
  */